@import url("./normalaze.css");
@import url("./fonts.css");

:root {
    --text-color: #333333;

    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primery--color: #0abead;
    --f-Poppins-bold: "Poppins Bold";
    --f-Poppins-Sebold: "Poppins SemiBold";
    --f-Poppins-black: "Poppins Black";
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Poppins";
    line-height: 2rem;
    font-size: 1.6rem;
   overflow-x: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}


.col {
    max-width: 100%;
    flex-grow: 1;
}

.col-1 {
    width: 8.333333%;
    flex: 0 0 auto;
}

.col-2 {
    width: 16.666666%;
    flex: 0 0 auto;
}

.col-3 {
    width: 25%;
    flex: 0 0 auto;
}

.col-4 {
    width: 33.333333%;
    flex: 0 0 auto;
}

.col-5 {
    width: 41.666666%;
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-7 {
    width: 58.333333%;
    flex: 0 0 auto;
}

.col-8 {
    width: 66.666666%;
    flex: 0 0 auto;
}

.col-9 {
    width: 75%;
    flex: 0 0 auto;
}

.col-10 {
    width: 83.333333%;
    flex: 0 0 auto;
}

.col-11 {
    width: 91.666666%;
    flex: 0 0 auto;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}

/* 


// reset style


*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}




/* 


//  start project--header


*/


.header {
    box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 16%);
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__text {
    color: var(--primery--color);
    font-family: var(--f-Poppins-black);
    font-size: 5rem;
}

.menu {
    list-style-type: none;
    display: flex;
    font-size: 1rem;
    z-index: 100;


}

.menu__item:first-child {
    margin-left: 0;
}

.menu__item {
    margin-left: 4rem;
}

.menu__link {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Poppins Medium";
    transition: color 200ms ease-in;
}

.menu__link:hover {
    color: var(--primery--color);
}

.menu__link--active {
    color: var(--primery--color);
}

.nav__btn {
    display: none;
    background-color: var(--app-bg-color);
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav__btn-line {
    position: relative;
}

.nav__btn-line::before,
.nav__btn-line::after,
.nav__btn-line {
    content: " ";
    width: 3rem;
    height: .3rem;
    border-radius: 2rem;

    background-position: center;
    background-color: var(--primery--color);
    transition: all 150ms ease-in;
}

.nav__btn-line::before {
    position: absolute;
    top: -1rem;
    bottom: 0;


}

.nav__btn-line::after {
    position: absolute;
    top: 1rem;
    bottom: 0;
}

.nav__btn--open .nav__btn-line::after {
    transform: translateY(-1rem) rotate(45deg);

}

.nav__btn--open .nav__btn-line::before {
    transform: translateY(1rem) rotate(-45deg);
}

.nav__btn--open .nav__btn-line {
    background: transparent;
}

.head {
   
    overflow: hidden;
 

}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.main__left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20rem;
    line-height: .1rem;
}

.main__left--text {
    color: var(--primery--color);
    font-family: var(--f-Poppins-Sebold);

}

.color-text {
    color: orange;
}

.main__left--title {
    color: var(--primery--color);
    font-family: var(--f-Poppins-Sebold);

}

.main__left--discription {
    color: rgb(176, 176, 176);
    font-size: .9rem;
}

.main__left--btn {
    display: flex;
    margin-top: 2rem;
}

.main__left--btnlt,
.main__left--btnrt {
    background-color: var(--primery--color);
    color: var(--app-bg-color);
    outline: none;
    border: none;
    padding: 1.5rem 4rem;
    border-radius: 1.5rem;
    font-size: 1rem;

}

.main__left--btnrt {
    background-color: orange;
    margin-left: 3rem;
}

.main__right {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__right--img {
    border-radius: 25rem;
    width: 30rem;
    height: 30rem;
    object-fit: cover;


    border: 1rem solid var(--app-bg-color);
    box-shadow: 0 0.5rem 4rem rgba(4, 195, 255, 16%);

}

.head__shape {
    position: absolute;
    left: -4.5rem;
    top: 40rem;
    

}