@import url("./normalaze.css");
@import url("./fonts.css");


:root {
    --text-color: #333333;
    --shadow-color: rgba(19, 182, 255, 24%);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --f-Poppins-bold:"Poppins Bold";
    --f-Poppins-Sebold:"Poppins SemiBold";
    --f-Poppins-black:"Poppins Black";
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Poppins";
    line-height: 2rem;
    font-size: 1.6rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}


.col {
    max-width: 100%;
    flex-grow: 1;
}

.col-1 {
    width: 8.333333%;
    flex: 0 0 auto;
}

.col-2 {
    width: 16.666666%;
    flex: 0 0 auto;
}

.col-3 {
    width: 25%;
    flex: 0 0 auto;
}

.col-4 {
    width: 33.333333%;
    flex: 0 0 auto;
}

.col-5 {
    width: 41.666666%;
    flex: 0 0 auto;
}

.col-6 {
    width: 50%;
    flex: 0 0 auto;
}

.col-7 {
    width: 58.333333%;
    flex: 0 0 auto;
}

.col-8 {
    width: 66.666666%;
    flex: 0 0 auto;
}

.col-9 {
    width: 75%;
    flex: 0 0 auto;
}

.col-10 {
    width: 83.333333%;
    flex: 0 0 auto;
}

.col-11 {
    width: 91.666666%;
    flex: 0 0 auto;
}

.col-12 {
    width: 100%;
    flex: 0 0 auto;
}


/* 


//  start project


*/


.header {
    box-shadow:2px 3px 10px 5px  var(--shadow-color);
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__text {
    color: rgb(47, 170, 170);
    font-family: var(--f-Poppins-black);
    font-size: 5rem;
}

.menu {
    list-style-type: none;
    display: flex;
  
}

.menu__item {
    margin-left: 4rem;
}

.menu__link {
    text-decoration: none;
    color: var(--text-color);
}

.menu__link--active {
    color: rgb(47, 170, 170);
}

.nav__btn {
    
}

.nav__btn-line {}